body {
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("bg-img.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.login-box {
  display: flex;
  flex-direction: column;
  height: 30vh;
  padding-top: 37.5%;
  padding-bottom: 37.5%;
  align-items: center;
  justify-content: center;
  border: 6px solid transparent;
  /* background-color:#302244; */
  background-color: rgba(29, 6, 61, 0.9);

  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  background-origin: border-box;
}
@media only screen and (max-width: 600px) {
  .login-box {
    width: 40vh;
    
  }

  #name {
    width: 35vh;
    min-height: 7vh;
    
  }
}

@media only screen and (min-width: 601px) {
  .login-box {
    width: 55vh;
  }
  /* #btn { */
  /* width: 20vh; */
  /* height: 4vh; */
  /*  */
  /* } */
  #name {
    width: 45vh;
    height: 7vh;
    margin-bottom: 35px;
    transition: height 0.2s width 0.2s;
  }
  #name:focus {
    width: 46vh;
    height: 8vh;
  }
}

#btn {
  border-radius: 50%;
  padding: 10px;
}

#name {
  font-size: 2.5ch;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

img {
  width: 35px;
  height: 35px;
  user-select: none;
}
.name-txt {
  text-align: center;
  width: 45vh;
  font-size: 4ch;
  margin-bottom: 20px;
  color: aliceblue;
}
