body {
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("bg-img.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.msg-box {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 45vh;
  padding-top: 25vh;
  padding-bottom: 25vh;
  background-color: rgba(35, 32, 95, 0.7);
  border-radius: 10px;
  border: 7px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}
.name {
  font-size: 4ch;
  margin-bottom: 20px;
  color: aliceblue;
  text-align: center;
  /* overflow: scroll; */
}
@media only screen and (max-width: 600px) {
  .msg-box {
    width: 90vw;
    overflow-y: auto;
    scroll-behavior: auto;
    text-align: center;
  }

  .msg-input {
    width: 80vw;
    min-height: 7vh;
    margin-bottom: 2vh;
    font-size: 2ch;
    font-family: "Roboto", sans-serif;
    transition: min-height 0.3s ease-out;
  }
  .msg-input:focus {
    min-height: 40vh;
  }
  /* button { */
  /* width: 15vh; */
  /* min-height: 5vh; */
  /* } */
  #name {
    width: 80vw;
    min-height: 5vh;
    font-size: 2ch;
    margin-bottom: 2vh;
  }
}

@media only screen and (min-width: 601px) {
  .msg-box {
    width: 55vh;
    overflow-y: auto;
    scroll-behavior: auto;
  }
  /* #btn { */
  /* width: 20vh; */
  /* height: 4vh; */
  /*  */
  /* } */
  textarea.msg-input {
    font-size: 2ch;
    font-family: "Roboto", sans-serif;
    width: 45vh;
    min-height: 5vh;
    resize: none;
    transition: min-height 0.2s ease-out;
    margin-bottom: 10px;
  }
  textarea.msg-input:focus {
    min-height: 40vh;
  }
  /* button {
    width: 20vh;
    min-height: 5vh;
  } */
  #name {
    width: 45vh;
    min-height: 5vh;
    font-size: 2ch;
    margin-bottom: 2vh;
  }
}

#developer {
  position: absolute;
  bottom: 2vh;
  color: aliceblue;
}

#btn {
  border-radius: 50%;
  padding: 5px;
}
img {
  width: 35px;
  height: 35px;
  user-select: none;
}

.msg-show {
  font-size: 2.5ch;
  text-align: center;
  margin-bottom: 5vh;
  color: rgb(217, 223, 223);
}
.loading {
  width: 45px;
  height: 45px;
}
